@value sm-breakpoint: 568px;
@value color-error: #CC4A4A;
@value color-label: #636363;

.center {
  margin: auto;
}

.form {
  composes: center;
  max-width: sm-breakpoint;
  padding-left: 1em;
  padding-right: 1em;
}

.form :global .pure-g {
  justify-content: space-between;
}

.form h1 {
  font-weight: 200;
}

.form label {
  color: color-label;
  margin-top: .5em;
}

.form :global .required label:only-of-type:after,
.form :global .required legend:after {
  content: " *";
  color: color-error;
}


.form :global .pure-form input[type=text],
.form :global .pure-form input[type=password],
.form :global .pure-form input[type=email],
.form :global .pure-form input[type=url],
.form :global .pure-form input[type=date],
.form :global .pure-form input[type=month],
.form :global .pure-form input[type=time],
.form :global .pure-form input[type=datetime],
.form :global .pure-form input[type=datetime-local],
.form :global .pure-form input[type=week],
.form :global .pure-form input[type=number],
.form :global .pure-form input[type=search],
.form :global .pure-form input[type=tel],
.form :global .pure-form input[type=color],
.form :global .pure-form select,
.form :global .pure-form textarea {
  box-shadow: none;
  border-radius: 2px;
  padding: 8px 10px;
  font-size: 1.1em;
}

.form :global .error aside,
.form :global .error legend {
  color: color-error;
}

.form :global .error input[type=text],
.form :global .error input[type=password],
.form :global .error input[type=email],
.form :global .error input[type=url],
.form :global .error input[type=date],
.form :global .error input[type=month],
.form :global .error input[type=time],
.form :global .error input[type=datetime],
.form :global .error input[type=datetime-local],
.form :global .error input[type=week],
.form :global .error input[type=number],
.form :global .error input[type=search],
.form :global .error input[type=tel],
.form :global .error input[type=color],
.form :global .error input[type=checkbox],
.form :global .error input[type=radio],
.form :global .error select,
.form :global .error textarea.error {
  border-color: color-error;
}

.form :global .pure-checkbox span,
.form :global .pure-radio span,
.form :global .pure-button span {
  padding-left: .5em;
}

.form .controls {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 1em;
  padding-bottom: 1em;
}
